{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="text-error text-2xl">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}


		<h1 class="h3 mb-3 font-weight-normal">Veillez vous connecter</h1>
		<label for="inputEmail">Adresse electronique :</label>
		<input type="email" value="{{ last_email }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">Mot de passe :</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="rounded bg-light-skin w-40 h-6" type="submit">
			Connectez-vous
		</button>
	</form>
	<a class='rounded bg-light-skin w-40 h-6 mr-5' href="/register">Créer un compte</a>
{% endblock %}
