{% extends 'base.html.twig' %}

{% block title %}
	Wolfed
{% endblock %}

{% block body %}
	<h1>{{message}}</h1>
{% endblock %}


{% block javascripts %}
	<script>
		const eventSource = new EventSource("{{ mercure('http://monsite.com/ping')|escape('js') }}");
eventSource.onmessage = event => {
console.log(JSON.parse(event.data));
}
	</script>

{% endblock %}
