<!DOCTYPE html>
<html class="scroll-smooth max-w-full overflow-x-hidden">

	<head>
		<meta charset="UTF-8" name="viewport">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<script src="https://kit.fontawesome.com/32777f7833.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="flex h-24 w-screen justify-center items-center bg-dark-black">
			<a href="/">
				<h1 class="text-5xl text-light-blue font-semibold">Wolfed</h1>
			</a>

			{% if app.user %}
				<a href="/profile" class="right-0 absolute flex flex-col items-center justify-center h-12 w-12 rounded-full bg-none z-20">
					<img src="/assets/images/users/{{ app.user.ProfilePic }}" class="rounded-full h-20 w-20"/>
				</a>
			{% else %}
				<a href="/login" class="right-0 absolute flex flex-col items-center justify-center h-12 w-12 rounded-full bg-light-blue z-20">
					<i class="fa-regular fa-user fa-lg"></i>
				</a>
			{% endif %}
		</nav>
		<div id="body" class="h-screen w-screen bg-dark-blue">
			{% block body %}
				{# . #}
			{% endblock %}
		</div>
		<footer class="flex h-20 w-screen bg-dark-black">
			<p>Coucou</p>
		</footer>
	</body>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
