{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.Username }}
	- Wolfed
{% endblock %}

{% block body %}
	<div class="flex items-center justify-center flex-col">
		<img class="block rounded-full h-60 w-60" src="/assets/images/users/{{ app.user.ProfilePic }}"/>
		<h2 class="text-5xl font-bold text-light-skin">{{ app.user.Username}}</h2>
	</div>
{% endblock %}
